/* <style>@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
<style>@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');

</style></style>.c-description {
    font-size: 16px;
    font-family: 'Damion', cursive;
}

.header {
    font-size: 16px;
    color: orange;
    text-transform: uppercase;
    font-family: 'Damion', cursive;
}

.others {
    font-size: 18px;
    color: orange;
    font-family: 'Damion', cursive;
}

.others:hover {
    color: orange;
    text-decoration-line: none;
}

#read:hover {
    color: orange;
}

#content {
    margin-top: 5%;
}

#router {
    font-size: 18px;
    color: orange;
    font-family: 'Damion', cursive;
}

#route {
    font-size: 22px;
    color: orange;
    font-family: 'Damion', cursive;
}

.nav {
    border: 2px solid orange;

} */

#alex{
    background-color:rgb(14, 15, 15); 

}
#route{
    font-size: 50px;
    color: whitesmoke;
}
.home{
    font-size: 20px;
    display: inline;
}
ul li{
    display:inline-block;
}