<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
              <div class="navbar navabr-dark bg-dark navbar-expand-lg fixed-top nav" role="navigation">
                  <div class="navbar-header">
                      <a class="navbar-brand" id="route" href="/">Welcome Starehe News </a>
                  </div>
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div class="navbar-collapse collapse" id="navbar-collapse">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-link mb-4" id="router"><a class="others" href="/">Home</a></li>
                          <li class="nav-link" id="router"><a class="others" href="{{macro.Article()}}">Articles</a></li>
                      </ul>
                  </div>
              </div>

        </div>
      </div>
    </div>
  </body>
</html>
